@import '../css/variables.css';

.authorInfo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.authorPhoto {
	border-radius: 50%;
}

.blogContent {
	margin: 2rem;
}

.authorLinkContainer {
	display: flex;
	flex-direction: row;
}

.authorLink {
	margin: 0 0.5rem;
}

.publishDate {
	color: var(--dark-gray);
	font-size: 1rem;
}

@media screen and (max-width: 750px) {
	.blogContent {
		margin: 1rem 0;
	}
}

@media screen and (min-width: 1080px) {
	.blogPostContainer {
		margin: 0 auto;
		max-width: 75%;
	}
}

@media screen and (min-width: 1600px) {
	.blogPostContainer {
		max-width: 50%;
	}
}
