@import '../../css/variables.css';

.blogPreview,
.readMoreContainer {
	margin: 0 2rem;
	padding: 1rem;
}

.blogPreview {
	padding-bottom: 0;
	background-color: var(--light-gray);
}

.blogContentPreview {
	overflow: hidden;
	max-height: 8rem;
	line-height: 1.5rem;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	text-overflow: ellipsis;
	display: block;
}

.readMoreContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: var(--light-gray);
}

.previewOverlayContainer {
	position: relative;
}

.absoluteOverlay {
	z-index: 10;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0) 5%,
		rgba(237, 237, 237, 1) 95%
	);
}

.authorName {
	margin: 0 1rem;
}

@media screen and (max-width: 750px) {
	.blogPreview,
	.blogPreviewContainer,
	.readMoreContainer {
		margin: 0;
	}

	.readMoreContainer {
		padding-top: 0;
	}

	.authorName {
		margin: 0;
	}

	.readMoreContainer {
		gap: 1rem;
	}
}

@media screen and (min-width: 1080px) {
	.blogPreviewContainer {
		max-width: 75%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1600px) {
	.blogPreviewContainer {
		max-width: 50%;
	}
}
