@import '../../css/variables.css';

.header {
	padding: 1rem;
	background-color: var(--pink);
	color: var(--white);
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.bigIcon {
	font-size: 8rem;
	align-self: center;
}

.contactIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 1rem 0;
}

.contactIcon {
	font-size: 2.5rem;
	align-self: center;
}

.headerTextAndIconContainer {
	display: flex;
	flex-direction: column;
}

.headerTextContainer {
	display: flex;
	flex-direction: column;
}

.headerText {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.5rem;
	font-size: 2.5rem;
}

.subHeaderText {
	font-weight: 400;
	font-size: 1.5rem;
}

.homeLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--white);
}
