@import '../../css/variables.css';

.header {
	padding: 1rem;
	background-color: var(--pink);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainHeaderSection {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	gap: 2rem;
}

.siteNavLink {
	color: var(--white);
	font-size: 1.25rem;
}

.bigIcon {
	height: 125px;
	align-self: center;
	color: var(--white);
}

.contactIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 1rem 0;
}

.contactIcon {
	font-size: 2.5rem;
	align-self: center;
}

.headerTextAndIconContainer {
	display: flex;
	flex-direction: column;
}

.headerTextContainer {
	display: flex;
	flex-direction: column;
}

.headerText {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.5rem;
	font-size: 2.5rem;
}

.subHeaderText {
	font-weight: 400;
	font-size: 1.5rem;
}

.homeLink {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--white);
}

.headerTextHomeLink {
	color: var(--white);
	text-decoration: none;
}

.siteNavContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media screen and (max-width: 750px) {
	.homeLink {
		display: none;
	}

	.headerText {
		font-size: 2rem;
	}

	.subHeaderText {
		font-size: 1.25rem;
	}
}
