@import '../../css/variables.css';

.header {
	background-color: var(--pink);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mainHeaderSection {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.logoContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	padding: 1rem;
	gap: 1rem;
}

.contactIconContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 0 1rem;
	flex: 1;
	gap: 2rem;
}

.contactIcon {
	font-size: 2.5rem;
	align-self: center;
}

.headerText {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 0.5rem;
	font-size: 2.5rem;
}

.subHeaderText {
	font-weight: 400;
	font-size: 1.5rem;
}

.navAndIconsContainer {
	background-color: var(--white);
	display: flex;
	width: 100%;
	padding: 0.5rem 0;
}

.siteNavContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
}

.siteNavLink {
	color: var(--pink);
	font-size: 1.25rem;
}

@media screen and (max-width: 750px) {
	.mainHeaderSection {
		gap: 0;
	}

	.headerText {
		font-size: 2rem;
	}

	.subHeaderText {
		display: none;
	}

	.contactIcon {
		font-size: 2rem;
	}

	.navAndIconsContainer {
		flex-direction: column;
	}
}

@media screen and (min-width: 1080px) {
	/* .siteNavContainer {
		margin: 0 auto;
		max-width: 75%;
	} */
}

@media screen and (min-width: 1600px) {
	.siteNavContainer {
		max-width: 50%;
	}
}
