:root {
	--black: #0a0a0a;
	--deep-lavender: #5d0063;
	--light-gray: #ededed;
	--medium-gray: #6f6f6f;
	--dark-gray: #3f3f3f;
	--pink: #ff66c4;
	--white: #fbfbfb;
	--snes-dark-purple: #4f43ae;
	--snes-light-purple: #b5b6e4;
	--snes-dark-gray: #908a99;
	--snes-light-gray: #cec9cc;
	--snes-black: #211a21;
}
